<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css proyecto.css">

</head>
<body>

<div class="container">
    <a href="#">
        <button class="btn">Volver</button>
    </a>

    <h1 class="heading">¡Crea tu materia!</h1>

    <div class="box-container">
        <div class="box1">
            <h2>Selecciona una imagen</h2>
        </div>
        <a href=""><button class="button button1"></button></a>
        <a href=""><button class="button button2"></button></a>
        <a href=""><button class="button button3"></button></a>
        <a href=""><button class="button button4"></button></a>
        <a href=""><button class="button button5"></button></a>
        <a href=""><button class="button button6"></button></a>
        <a href=""><button class="button button7"></button></a>
        <a href=""><button class="button button8"></button></a>
        <a href=""><button class="button button9"></button></a>
        <a href=""><button class="button button10"></button></a>
        <a href=""><button class="button button11"></button></a>
        <a href=""><button class="button button12"></button></a>
        <div class="box2">
            <h3>Escribe un nombre</h3>
        </div>
        <textarea class="textarea" id="c" autofocus placeholder="Escribe aquí" rows="1" cols="50"></textarea>
        <a href="#">
            <button class="btn2">Crear</button> 
        </a>
        </div>
</div>

</body> 