{% extends 'main/base.html' %}
{% block content %}
<div class="container">

    <h1 class="heading">Bienvenido a EducaPro</h1>

    <div class="box-container">

        <div class="box">
            <h3>Login</h3>
            <p>haga click para acceder a su cuenta</p>
            <a href="#" class="btn">acceder</a>
        </div>

        <div class="box">
            <h3>Sobre EducaPro</h3>
            <p>a través de esta aplicacion estudiantes de cualquier lugar tendran
               la posibilidad de poder conocer las actividades de cada asignatura en un horario sencillo de entender,
               si usted desea ver un tutoria para entender de mejor manera como funciona la pagina haga click para ver el tutorial</p>
            <a href="#" class="btn">tutorial</a>
        </div>

        <div class="box">
            <h3>Register</h3>
            <p>haga click para registrarse</p>
            <a href="#" class="btn">registrarse</a>
        </div>
</div>
{% endblock %}

