{% extends 'main/base.html' %}
{% block styles %}
{% load static %}
<link rel='stylesheet' type="text/css"
 href="{% static 'css/cesese.css' %}">
{% endblock  %}
{% block content %}
<div class="container" style='max-width:100%;'>

    <h1 class="heading">Bienvenido a EducaPro</h1>
    
    <div class="box-container">

        <div class="box">
            <h3>Login</h3>
            <p>haga click para acceder a su cuenta</p>
            <a href="/login" class="btn">acceder</a>
        </div>

        <div class="box">
            <h3>Sobre EducaPro</h3>
            <p>A través de esta aplicación buscamos que estudiantes de cualquier lugar tengan la posibilidad de poder tener un lugar donde subir y descargar apuntes de forma sencilla y organizada mediante un sistema de bloques por materia, simplificando las acciones lo máximo posible. Si deseas ver un tutorial para el uso de la página ingresa aquí:</p>
            <a href="#" class="btn">tutorial</a>
        </div>

        <div class="box">
            <h3>Register</h3>
            <p>haga click para registrarse</p>
            <a href="/register" class="btn">registrarse</a>
        </div>
</div>
{% endblock %}

