@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container{
    background:linear-gradient(45deg, #00A86B,#29AB87 );
    padding: 15pX 9%;
    padding-bottom: 100vmax;
    max-width: -webkit-fill-available;
}
.container .heading{
    text-align: center;
    padding-bottom: 30px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}
.container .box-container{
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}
.container .box-container .box1{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:5px 5px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}
.container .box-container .box1 h2{
    color:#444;
    font-size: 20px;
    padding:5px 0;
}
.container .box-container .box{
    display: inline-block;
    padding: 30px 20px;
    margin-top: 20px;
    margin-right: 10px;
    width: 400px;
    height: 280px;


}
.container .box-container .input[type=radio]{
    display: inline-block;
    padding: 30px 20px;
    margin-top: 20px;
    margin-right: 10px;
    width: 100px;
    height: 80px;
}

.container .box-container .label{
    font-size: 10px;
    color: #fff;
    display: block;
    margin: auto;

}
.container .box-container .box2{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:5px 5px;
    width: 300px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;

}
.container .box-container .box2 h3{
    color:#444;
    font-size: 20px;
    padding:5px 0;
}
.container .box-container .input[type=text]{
    display: block;
    font-size: 20px;
    margin: auto;
    border-radius: 3px;
    margin-top: 20px;

}
.container .box-container .btn{
    display: block;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 20px;
    margin: auto;
    margin-top: 20px;
}